<!-- **********************************************
     * Navigation Partial
     * --------------------------------------------
     * Displays the site navigation menu generated
     * dynamically from server-side data.
     ********************************************** -->

<nav>
    <%- nav %>
</nav>
